.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 15px;                  
    background-color: #1a365d;      /* Couleur bleue/sombre du fond */
    color: #ffffff;                 /* Couleur blanche du texte */
}

.callout img {
    float: right;
    margin: 0 0 10px 10px;
    border: 1px solid #000;
    padding: 3px;
    width: 150px;
    height: auto;
}

blockquote {
    margin: 0 0 15px 0;
}

cite {
    display: block;
    border-top: 1px dotted #ffffff;
    padding-top: 5px;
    text-align: right;
    font-size: smaller;
}
